<!DOCTYPE html>
<html>
<head>
    <title>Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <style>
    /* Código CSS para la tabla */
    
    </style>
</head>

<body>
  <div class="container text-center mt-5">
      <div class="card">
          <div class="card-body">
              <p class="title">
                {{ result }}
              </p> 
          </div>
      </div>
  </div>
</body>
</html>
